@charset "UTF-8";

/*Estilização do corpo da página */

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: black;
}


/*Estilização do topo da página */

#head {
    text-align: center;
    font-size: 28pt;
    color: white;
    width: 100%;
    height: auto;
    background-color: rgb(129, 27, 155);
}


/*Estilização do rodapé */

#footer {
    bottom: 0;
    left: 10;
    height: 50px;
    position: fixed;
    width: 99%;
    background-color: rgb(129, 27, 155);
}

#footerbody {
    text-align: left;
    font-size: 12pt;
    color: white;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}


/*Padronizando o texto de imagem, */

.figcaption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    color: black;
    text-align: center;
}


/*Estilização da tabela: table -> tabela, td -> linha, th -> coluna. */

table,
td,
th {
    border: solid 1px #000;
    padding: 5px;
    text-align: center;
    margin: auto;
}

th {
    background-color: #999;
}

caption {
    font-size: x-large;
}


/*Estilização do formulario */

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div+div {
    margin-top: 1em;
}

label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 90px;
    text-align: right;
}